.user-table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;}

.user-table th,
.user-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.user-table th {
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
  margin: 40px auto;
}

button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}